html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
}

.root {
  margin: 0 auto;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;

  @media (max-width: 1024px) {
    overflow-x: hidden;
  }
}
